@use 'libs/shared/common/styles/src/lib/mixins' as mixins;
@use 'libs/shared/common/styles/src/lib/variables' as variables;

:host {
  display: block;
  min-height: 100vh;

  font-family: variables.$app-font;

  background-image: url('/app-background.jpg'), variables.$app-background;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  

  .app-container {
    
    @include mixins.app-container;
    .app-sidebar {   
      @include mixins.app-sidebar;
    }
    .app-content {
      @include mixins.app-content;
    }
  }

  
}



